<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wzx.mapper.UserMapper">


    <update id="changeHeadshot">
        update `wyx-missions-management`.user set img = #{img} where id = #{id}
    </update>
    <update id="changeInfo">
        update `wyx-missions-management`.user
        <set>
            <if test="username!=null">username = #{username},</if>
            <if test="name!=null">name = #{name},</if>
            <if test="phone!=null">phone = #{phone},</if>
            <if test="sex!=null">sex = #{sex},</if>
            <if test="idNumber!=null">id_number = #{idNumber},</if>
            <if test="email!=null">email = #{email},</if>
            <if test="hobby!=null">hobby = #{hobby},</if>
            <if test="updateTime!=null">update_time = #{updateTime},</if>
            <if test="img!=null">img = #{img},</if>


        </set>
        where id = #{id}

    </update>
    <update id="changePassword">
        update `wyx-missions-management`.user set password = #{newPassword} where id = #{id}
    </update>
    <select id="getUserInfo" resultType="com.wzx.vo.UserInfoVO">
        select * from `wyx-missions-management`.user where id=#{id}
    </select>
    <select id="findUser" resultType="com.wzx.dto.UserinfoChangeDTO">
        select * from `wyx-missions-management`.user where id = #{id}
    </select>
    <select id="getPassword" resultType="java.lang.String">
        select password  from `wyx-missions-management`.user where id = #{id}

    </select>
    <select id="getUser" resultType="com.wzx.entity.User">
        select * from `wyx-missions-management`.user
        <where>
            <if test="id!=null">id = #{id}</if>
            <if test="username!=null and username!=''">and username like concat('%',#{username},'%')</if>
            <if test="sex!=null and sex!=''">and sex=#{sex}</if>
            <if test="phone!=null and phone!=''">and phone=#{phone}</if>
            <if test="address!=null and address!=''">and address like concat('%',#{address},'%')</if>
        </where>
    </select>
    <select id="selectUser" resultType="java.lang.Integer">
        select count(1) from `wyx-missions-management`.user
        where username =#{userName}
    </select>
    <select id="getLoginUser" resultType="java.lang.String">
        select user.name from `wyx-missions-management`.user where id = #{id}

    </select>


</mapper>
